@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Medium.woff") format("woff");
  font-weight: medium;
  font-style: medium;
}

@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: #f8f9fa;
  --primary: #11181c;
  --softBg: #fbfcfd;
  --hoverBg: #f1f3f5;
  --softText: #7e868c;
  --borderColor: #e6e8eb;
  --secondary: #1c1c1c;
  --secondaryHover: #333333;
  --sidebar: #1c1c1c;
  --scrollbarColor: #ededed;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary-foreground: 210 40% 98%;

  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;

  background: var(--background);
}

.dark {
  --background: #1c1c1c;
  --softBg: #2e2e2e;
  --hoverBg: #282828;
  --primary: #ededed;
  --softText: #7e868c;
  --borderColor: #2e2e2e;
  --secondary: #2e2e2e;
  --secondaryHover: #282828;
  --sidebar: #1c1c1c;
  --scrollbarColor: #2e2e2e;

  /*Data Sheet Grid  */
  --dsg-border-color: var(--borderColor) !important;
  --dsg-cell-background-color: var(--background) !important;
  --dsg-header-active-text-color: var(--primary) !important;
  --dsg-header-text-color: var(--primary);
  --dsg-selection-disabled-background-color: rgba(192, 183, 183, 0.1) !important;
  --dsg-cell-disabled-background-color: rgba(192, 183, 183, 0.1) !important;
  --dsg-selection-disabled-border-color: gray !important;

  background: var(--background);
}

.dsg-container {
  background-color: var(--background) !important;
  font-size: 13px !important;
}

.dsg-input {
  background-color: var(--background) !important;
  color: var(--primary) !important;
}

.dsg-add-row {
  background-color: var(--background) !important;
  color: var(--primary) !important;
}

.dsg-add-row-input,
.dsg-add-row-btn {
  font-size: 13px;
  height: 30px;
  border-radius: 8px !important;
  background-color: var(--background) !important;
  border-color: var(--borderColor) !important;
}

.tableFont {
  font-family: "circular", sans-serif;
}

.scrollbar-class::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-class::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor);
  border-radius: 4px;
}

.scrollbar-class::-webkit-scrollbar-track {
  background: var(--background);
}

.scrollbar-class::-webkit-scrollbar-thumb:hover {
  background-color: var(--hoverBg);
}

.react-flow__node-custom {
  font-size: 10px;
  width: 180px;
  background: #f5f5f6;
  color: #222;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
  border-radius: 2px;
}

.react-flow__node-custom .react-flow__handle {
  top: 24px;
  right: -15px;
  width: 6px;
  height: 10px;
  border-radius: 2px;
  background-color: #778899;
}

.react-flow__node.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.react-flow__node.annotation {
  border-radius: 0;
  text-align: left;
  background: #feff9c;
  border: none;
  line-height: 1.4;
  width: 225px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
  background: #ffff88; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(81%, #ffff88),
    color-stop(82%, #ffff88),
    color-stop(82%, #ffff88),
    color-stop(100%, #ffffc6)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* IE10+ */
  background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.react-flow__node.annotation .react-flow__handle {
  display: none;
}

.custom_node__header {
  padding: 8px 10px;
  border-bottom: 1px solid #e2e8f0;
}

.custom_node__body {
  padding: 10px;
}

.custom_node__select {
  position: relative;
  margin-bottom: 10px;
}

.custom_node__select select {
  width: 100%;
  margin-top: 5px;
  font-size: 10px;
}
