@import "@fontsource/inter/400.css"; /* Weight 400 */
@import "@fontsource/inter/700.css"; /* Weight 700 for bold */

.interFont {
  font-family: "Inter";
}

.supersetContainer iframe {
  width: 100%;
  height: 150vh;
  border: none;
}
